.input-ingresar {
    width: 195px;
    height: 3.125rem;
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.btn-ingresar {
    width: 195px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}